  
  <h3 class="white-text center">|> new_video</h3>
  <div class="divider grey darken-4 header-divider"></div>
  <div class="divider transparent whitespace"></div>
  <%= render "form.html", Map.put(assigns, :action, Routes.video_path(@conn, :create)) %>
