<%= form_for @comment_changeset, Routes.article_comment_path(@conn, :create, @article), fn f -> %>
  <%= label f, :text, "Leave a comment", class: "control-label white-text" %>
  <%= text_input f, :text, class: "form-control white-text" %>
  <%= error_tag f, :text %>
  <%= submit "Comment", class: "btn red darken-2" %>
<% end %>
