<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var options = {}
    var instances = M.Datepicker.init(elems, options);
  });

  var instance = M.Datepicker.getInstance(elem);

  instance.getSelectedValues()
</script>


<h3 class="white-text" style="margin-bottom: 3rem; margin-top: 3em">|> new_user</h3>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

