/* This file is for your main application css. */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #131313;
}

main {
    flex: 1 0 auto;
}


h4 {
    margin-bottom: 5rem; 
    margin-top: 3em
}

footer {
    margin-top: 10em; 
}

.input-field {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.post-card {
    border-left: 7px solid #212121; 
    box-shadow: none;
}

.user-card {
    border-left: 1px solid black; 
    box-shadow: 13px 3px 50px 2px rgba(0,0,0,0.8)
}

.index-row {
    margin-bottom: 5em;
}

.index-actions {
    border-top: 0px;
    font-size: 20px; 
    font-weight: 600;
    background: none;
}

.article-container {
    padding-right: 2rem; 
    border-top: solid 2px white; 
    margin-bottom: -1.2rem; 
    margin-top: 5em; 
    height: 100px; 
    width: 100%;
}


.article-body {
    padding: 5rem; 
    border-radius: 0 0 20px 0;
    background-color: white;
}

.article-timestamp {
    margin-top: 1rem; 
    margin-left: -5rem; 
    font-weight: 600; 
    font-size: 18px;
    background-color: black;
}

.video-timestamp {
    font-weight: 600; 
    font-size: 18px; 
    margin-bottom: 2em; 
    margin-right: 5em;
    background-color: white;
}

.video-description {
    font-size: 16px;
}

.author-name {
    font-size: 18px; 
    font-weight: 600; 
    border-left: 3px solid #d32f2f;
}

.author-username {
    font-size: 12px; 
    font-weight: 400;
}

.comment-input {
    margin-top: 10em; 
    margin-bottom: 3rem;
}

.card {
    box-shadow: none;
}

.comment-user {
    font-size: 20px;
}

.comment-name {
    font-size: 18px;
}

.comment-divider {
    border-right: solid 200px white;
}

.comment-timestamp {
    font-size: 11px;
}

.comment-text {
    font-size: 16px; 
    overflow-wrap: break-word;
}

.landpg-placeholder {
    margin-top: 5em; 
    padding-top: 2rem; 
    padding-bottom: 1rem;
    background: none;
}

.header-divider {
    margin: 2rem; 
    padding: 5px; 
    border-right: 1em solid #131313; 
    border-left: 10em solid #ff5252; 
    border-radius: 5px; 
    margin-bottom: 5em
}

.whitespace {
    margin-top: 5em; 
    margin-bottom: 2em
}

.avatar-form-container {
    border-right: 5px solid #d32f2f; 
    border-radius: 20px 0 0 20px; 
    padding: 1rem
}

.banner-form-container {
    border-left: 5px solid #d32f2f; 
    border-radius: 0 20px 20px 0; 
    padding: 1rem
}

.error-tag {
    font-size: 15px; 
    margin-top: 1rem
}

@import "./phoenix.css";

@import "./materialize.min.css"
