<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;display=swap" rel="stylesheet">
      <title><%= assigns[:page_title] || "noospherical.io" %></title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
      <%= csrf_meta_tag() %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        <%= if @conn.assigns.current_user do %>
          window.userToken = "<%= Phoenix.Token.sign(NoosphericalWeb.Endpoint, "key", @conn.assigns.current_user.uuid) %>"
        <% end %>
      </script>
    </head>
    <body class="background grey lighten-3">
      <nav class="navbar transparent" style="box-shadow: none; padding: 1rem; z-index: 1">
        <div class="nav-wrapper container">
          <div class="left">
            <a href="/" class="brand-logo white-text left hide-on-med-and-down" style="font-weight: 600">noospherical.io</a>
          </div>
          <ul class="right">
            <%= if @current_user do %>
              <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large white-text"><i class="material-icons">menu</i></a></li>
              <li class="hide-on-med-and-down">
              </li>
            <% else %>
              <li>
                <%= link "Register", to: Routes.user_path(@conn, :new) %>
              </li>
              <li>
                <%= link "Sign in", to: Routes.session_path(@conn, :new) %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <%= if @current_user do %>
        <ul id="slide-out" class="sidenav grey darken-4">
          <li>
            <div class="user-view">
              <div class="background black"><%= get_sidenav_banner(@current_user.uuid) %>
              </div>
              <a class="right" href="/users/<%=@current_user.uuid%>/settings"><i class="material-icons white-text">settings</i></a>
              <a href="/users/<%= @current_user.uuid  %>"><%= get_sidenav_avatar(@current_user.uuid) %>
              </a>
              <a href="/users/<%= @current_user.uuid  %>"><span class="white-text name"><%= @current_user.name %></span></a>
              <div class="white-text email"><%=@current_user.email%></div>
            </div>
          </li>
          <li><a href="/articles" class="white-text"><i class="material-icons purple-text text-accent-2">format_align_center</i>Articles</a></li>
          <li><a href="/videos" class="white-text"><i class="material-icons purple-text text-accent-2">movie_creation</i>Videos</a></li>
          <li>
            <div class="divider"></div>
          </li>
          <li><%= link "About", class: "waves-effet white-text", to: Routes.page_path(@conn, :about)%></li>
          <li><%= link "Log Out", class: "waves-effet white-text", to: Routes.session_path(@conn, :delete, @current_user), method: "delete" %></li>
        </ul>
      <% end %>
      <div class="cover row">
        <div class="white-text center cover-overlay">
          <p style="font-size: 170%; font-weight: 700">ＨＩＧＨ ＴＥＣＨ | ＬＯＷ ＬＩＦＥ</p>
          <p style="font-size: 20px; margin-top: -1.5rem; filter: opacity(50%)">
            プロパガンダの予防接種を受けていない
          </p>
        </div>
        <video autoplay loop muted>
          <source src="uploads/hero_1.mov" type="video/mp4">
        </video>
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
      <footer class="page-footer background black">
        <div class="footer-copyright">
          <div class="container center white-text" style="font-size: 15px">
            © 2020 by Antoine Redier. All rights reserved.
            <a class="grey-text text-darken-4 right" href="/about">About</a>
          </div>
        </div>
      </footer>
    </body>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.sidenav');
       var options = {}
       var instances = M.Sidenav.init(elems, options);
        });
    </script>
  </html>
